.container{
    height: 100vh;
    width: 99vw;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    position: fixed;
    height: 580px;
    width: 580px;
    border-radius: 15px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.backButton{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    display:flex;
    justify-content: center;
    align-content: center;
}

.backButton:before, .backButton:after {
    position: absolute;
    content: ' ';
    height: 9px;
    width: 2px;
    top: 2px;
    left: 5.5px;
}
.backButton:hover {
    cursor: pointer;
    border: 1px solid;
}
.backButton:before {
    transform: rotate(45deg);
}
.backButton:after {
    transform: rotate(-45deg);
}


.logo{
    width: 270px;
    height: 16%;
    margin-top: 10px;
}

.signInText{
    width: 100%;
    height: 7%;
    text-align: center;
    font-size: 30px;
}

.inputForm{
    width: 80%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #0F0F0F;
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.forgotPasswordText{
    position: absolute;
    color: dodgerblue;
    font-size: 16px;
    right: 90px;
    top: 283px;
}

.forgotPasswordText:hover{
    cursor: pointer;
    text-decoration: underline;
}

.submitButton{
    font-size: 15px;
    width: 40%;
    height: 45px;
    border-radius: 15px;
    border: 1px solid;
    margin: 0 auto;
    transition: border-width 0.1s;
}

.submitButton:hover {
    cursor: pointer;
    border-width: 2px;
}

.createAccountText{
    width: 80%;
    height: 10%;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textAccountLeft{
    font-size: 16px;
    margin-right: 10px;
}

.textAccountRight{
    color: dodgerblue;
    font-size: 16px;
}

.textAccountRight:hover{
    cursor: pointer;
    text-decoration: underline;
}

.informationText{
    width: 40%;
    height: 5%;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.textBottom{
    font-size: 15px;
    color: grey;
}

.textBottom:hover{
    cursor: pointer;
    text-decoration: underline;
}

.forgotPasswordTextPhone{
    display: none;
}

@media (max-width: 700px) {

    .menu{
        position: fixed;
        height: 85%;
        width: 95%;
        border-radius: 15px;
        border: 1px solid grey;
    }

    .informationText{
        width: 80%;
    }

    .createAccountText{
        flex-direction: column;
    }

    .backButton{
        top: 10px;
        right: 10px;
    }

    .forgotPasswordText{
        display:none
    }

    .forgotPasswordTextPhone{
        display: contents;
        color: dodgerblue;
        font-size: 16px;
        width:100%;
        align-self:center
    }

    .forgotPasswordTextPhone:hover{
        cursor: pointer;
        text-decoration: underline;
    }

}

.errorContainer{
    font-size: 16px;
    color: #ff3333;
    height:16px;
    display:flex;
    width:100%;
    justify-content: center;
}

.errorMessage{

}