@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.photoDetailInfoPage{
    font-family: 'Comfortaa', sans-serif;
}

.photoDetailInfoPageContainer{
    display: flex;
    flex-direction: column;
}

.containerDiv{
    padding: 100px 13% 0 13%;
}