.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.firstElements{
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userAvatar{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.userName{
    font-size: 18px;
    margin-left: 10px;
}

.buttonsStyle{
    margin-left: 10px;
}




.secondElements{
    margin-top: 15px;
}

.photosStyle{
    height: 340px;
    max-width:300px;
    border-radius: 10px;
    margin:5px;
}


