@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.profilePage{
    font-family: 'Comfortaa', sans-serif;
}

.profilePageContainer{
    display: flex;
    flex-direction: column;
}

.profileAboutUserDiv{
    display:flex;
    width:100%;
    padding: 100px 10% 0 10%;
    flex-direction: row;
    flex-wrap: wrap;

}

.avatarUserDiv{
    margin-left:4%;
    height: 240px;
    width:240px;
}

.avatarUser{
    width: 100%; /* Встановлюємо ширину */
    height: 100%; /* Встановлюємо висоту */
    border-radius: 50%; /* Встановлюємо радіус кутів, щоб зробити круглий елемент */
    overflow: hidden;
}

.userInfoDiv{
    height:100%;
    width: 100%;
    flex: 1;
    padding: 5%;
    min-width: 450px;

}

.userInfoTop{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.userInfoTextTopLeft{
    align-self: flex-end;
    font-size: 36px;
}

.userInfoTextTopRight{
    align-self: flex-end;
    font-size: 16px;
}

.userInfoTextMiddle{
    font-size: 20px;
    margin: 15px 0 15px 0;
}

.userInfoTextBottom{
    font-size: 20px;
}

.profileButtonDiv{
    height:100%;
    width: 210px;
    display: flex;
    align-items: center;
    padding: 30px 0 0 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-right:4%;
}

.profileButton{
    margin: 10px;
}



.profileLine{
    margin-top: 30px;
    width:100%;
    height:1px;
}


@media (max-width: 1263px) {

    .avatarUserDiv{
        margin-left:0;
        height: 240px;
        width:240px;
    }


    .profileAboutUserDiv{
        justify-content: center;
    }

    .profileButtonDiv{
        flex-direction: row;
        width:100%;
        margin-right: 0;
    }
    .userInfoDiv{
        min-width: 300px;
    }
}

.svgTextLeft{
    width:20px;
}