@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.mapPage{
    font-family: 'Comfortaa', sans-serif;
}

.mapPageContainer{
    display: flex;
    flex-direction: column;
}